<% include include/header.html %>
<div class="col-md-2"></div>
<div class="dashboard col-md-8">
<div class="row">
  <div class="col-md-6">
      <h3>Humidity</h3>
      <div class="input-group">
          <label for="humidity-name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="humidity-name">
          </div>
      </div>
      <div class="input-group">
          <label for="humidity-id" class="col-sm-2 control-label">ID</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="humidity-id">
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <h3>Temperature</h3>
      <div class="input-group">
          <label for="temperature-name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="temperature-name">
          </div>
      </div>
      <div class="input-group">
          <label for="temperature-id" class="col-sm-2 control-label">ID</label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="temperature-id">
          </div>
      </div>
  </div>
</div>
<div class="row">

<div class="col-md-6">
    <h3>Ambient Light</h3>
    <div class="input-group">
        <label for="light-name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="light-name">
        </div>
    </div>
    <div class="input-group">
        <label for="light-id" class="col-sm-2 control-label">ID</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="light-id">
        </div>
    </div>
</div>
<div class="col-md-6">
    <h3>Sound Intensity</h3>
    <div class="input-group">
        <label for="sound-name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="sound-name">
        </div>
    </div>
    <div class="input-group">
        <label for="sound-id" class="col-sm-2 control-label">ID</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="sound-id">
        </div>
    </div>
</div>
</div>

 <div id="myPieChart"/>
</div>



<% include include/footer.html %>
